In [0]:
with t1 as (
  select 
    X_Device_Country as `country_code`,
    X_device_product as `platform_version`,
    X_device_platform as `platform_code`,  
    context_name,
    message_id,
    normal_log:menu_name as menu_name,
    normal_log:changed_value as changed_value, 
    DEVICE_NAME as soc,
    mac_addr,
    X_Device_Sales_Model as sales_model_code
  from kic_data_ods.tlamp.normal_log_webos25
  where 1=1
  and date_ym >= '2025-01'
  and date_ym <= '2025-10'
  and context_name = 'com.palm.app.settings'
  and message_id = 'NL_SETTING_CHANGE'
  and normal_log:menu_name = 'soundOutput'
), total as (
  select 
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id,
    menu_name,
    count(distinct mac_addr) as total_mac_ud
  from t1
  group by 
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id,
    menu_name
), sub as (
  select
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id,
    menu_name,
    changed_value,
    count(distinct mac_addr) as ud
  from t1
  group by 
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id,
    menu_name,
    changed_value
)
select
  total.country_code,
  total.platform_version,
  total.platform_code,
  total.sales_model_code,
  total.soc,
  total.context_name,
  total.message_id,
  total.menu_name,
  sub.changed_value,
  total.total_mac_ud,
  nvl(sub.ud,0) as ud
from total
left outer join sub
  on total.country_code = sub.country_code
  and total.platform_version = sub.platform_version
  and total.platform_code = sub.platform_code
  and total.soc = sub.soc
  and total.sales_model_code = sub.sales_model_code
where 1=1
and total.country_code != ''
and total.sales_model_code != ''
and total.platform_version = 'webOSTV 25'
and (total.platform_code like 'W%' 
  OR total.platform_code like 'N%')
order by 1,2,3,4,5,changed_value
;


select normal_log:quicksettings_value,count(1)
from kic_data_ods.tlamp.normal_log_webos22
where 1=1
and date_ym >= '2025-01'
and date_ym <= '2025-10'
and context_name = 'com.webos.app.quicksettings'
and message_id = 'NL_QUICKSETTINGS_VALUE'
and normal_log:quicksettings_item = 'QuickSettings_soundOut_button'
group by normal_log:quicksettings_value
;



with t1 as (
  select 
    X_Device_Country as `country_code`,
    X_device_product as `platform_version`,
    X_device_platform as `platform_code`,  
    context_name,
    message_id,
    normal_log:quicksettings_item as quicksettings_item,
    normal_log:quicksettings_value as quicksettings_value, 
    DEVICE_NAME as soc,
    mac_addr,
    X_Device_Sales_Model as sales_model_code
  from kic_data_ods.tlamp.normal_log_webos22
  where 1=1
  and date_ym >= '2025-01'
  and date_ym <= '2025-10'
  and context_name = 'com.webos.app.quicksettings'
  and message_id = 'NL_QUICKSETTINGS_VALUE'
  and normal_log:quicksettings_item = 'QuickSettings_soundOut_button'
), total as (
  select 
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id,
    quicksettings_item,
    count(distinct mac_addr) as total_mac_ud
  from t1
  group by 
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id,
    quicksettings_item
), sub as (
  select
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id,
    quicksettings_item,
    quicksettings_value,
    count(distinct mac_addr) as ud
  from t1
  group by 
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id,
    quicksettings_item,
    quicksettings_value
)
select
  total.country_code,
  total.platform_version,
  total.platform_code,
  total.sales_model_code,
  total.soc,
  total.context_name,
  total.message_id,
  total.quicksettings_item,
  sub.quicksettings_value,
  total.total_mac_ud,
  nvl(sub.ud,0) as ud
from total
left outer join sub
  on total.country_code = sub.country_code
  and total.platform_version = sub.platform_version
  and total.platform_code = sub.platform_code
  and total.soc = sub.soc
  and total.sales_model_code = sub.sales_model_code
where 1=1
and total.country_code != ''
and total.sales_model_code != ''
and total.platform_version = 'webOSTV 7.0'
and (total.platform_code like 'W%' 
  OR total.platform_code like 'N%')
order by 1,2,3,4,5,quicksettings_value

;


select normal_log
from kic_data_ods.tlamp.normal_log_webos22
where 1=1
and date_ym >= '2025-01'
and date_ym <= '2025-10'
and context_name = 'umi'
and message_id = 'NL_SOUND'
and normal_log:soundOutput is not null
;


with t1 as (
  select 
    X_Device_Country as `country_code`,
    X_device_product as `platform_version`,
    X_device_platform as `platform_code`,  
    context_name,
    message_id,
    normal_log:soundOutput as soundoutput,
    DEVICE_NAME as soc,
    mac_addr,
    X_Device_Sales_Model as sales_model_code
  from kic_data_ods.tlamp.normal_log_webos25
  where 1=1
  and date_ym >= '2025-01'
  and date_ym <= '2025-10'
  and context_name = 'umi'
  and message_id = 'NL_SOUND'
  and normal_log:soundOutput is not null
  and normal_log:soundOutput != ''
  and normal_log:soundOutput != ' '
), total as (
  select 
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id,
    count(distinct mac_addr) as total_mac_ud
  from t1
  group by 
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id
), sub as (
  select
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id,
    soundoutput,
    count(distinct mac_addr) as ud
  from t1
  group by 
    country_code,
    platform_version,
    platform_code,
    sales_model_code,
    soc,
    context_name,
    message_id,
    soundoutput
)
select
  total.country_code,
  total.platform_version,
  total.platform_code,
  total.sales_model_code,
  total.soc,
  total.context_name,
  total.message_id,
  sub.soundoutput,
  total.total_mac_ud,
  nvl(sub.ud,0) as ud
from total
left outer join sub
  on total.country_code = sub.country_code
  and total.platform_version = sub.platform_version
  and total.platform_code = sub.platform_code
  and total.soc = sub.soc
  and total.sales_model_code = sub.sales_model_code
where 1=1
and total.country_code != ''
and total.sales_model_code != ''
and total.platform_version = 'webOSTV 25'
and (total.platform_code like 'W%' 
  OR total.platform_code like 'N%')
order by 1,2,3,4,5,soundoutput